
$color-primary: #7ed56f;
$color-primary-light:  #55c57a;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $color-grey-dark;
    line-height: 1.7;
    padding: 20px;
}

/* Utility classes */
.btn {
    &:link,
    &:visited {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        border-radius: 100px;
        transition: all .2s;
        position: relative;
    
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
       
        &::after {
            transform: scalex(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &-white {
        background-color: $color-white ;
        color: $color-grey-dark;
       
        &::after{
            background-color: $color-white;
        }
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    
    }
    
    &-animated {
        animation: moveToBottom .5s ease-in-out .75s;
        animation-fill-mode: backwards;
    }
}


//* Header 
.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary, 0.8) , rgba($color-primary-dark, .8)) , url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    &__logo-box {
        position: absolute;
        top: 40px;
        left: 40px;
    }

    &__logo{
        height: 34px;
    }
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
    }
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    /* اصلاح */
    backface-visibility: hidden;
    margin-bottom: 60px;
    &-main {
        display: block;
        font-size: 60px;
        /* font-weight: 400; */
        letter-spacing: 35px;
        animation-name: moveToLeft;
        animation-duration: 1s;
    
        /* animation-delay: 3s; */
        /* animation-iteration-count: 3 */
        /* animation-timing-function: ease-in-out */
    }
    &-sub {
        display: block;
        font-size: 20px;
        /* font-weight: 400; */
        letter-spacing: 16.5px;
        animation: moveToRight 1s ease-in-out;
    }
}





@keyframes moveToLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveToRight {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveToBottom {
    0%{
        opacity: 0;
        transform: translateY(40px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


